-articles.sort_by{ |i| [ i[:order] ]}.each do |post|
    .slideWrap{:id => post[:title].gsub(/\s+/, "")}
        %article
            %h1
                =post[:title]
            =post.compiled_content()
%nav.slide
    %a.next{:href => "#"}
        next
    %a.prev{:href => "#"}
        previous

